* {
  border: 2px solid #222;
  padding: 30px;
  /* width: 60vw; */
  transition: all 0.3s;
}

.content {
  padding: 30px;
  margin-bottom: 20px;
}
p {
  /* background-color: aqua; */
  padding: 15px;
  font-weight: 600;
}

.content-two {
  /* border: 2px solid #222; */
  padding: 20px 30px;
}

.content-two ul {
  /* border: 2px solid #222; */
  padding: 30px;
}

.content-two ul li {
  /* border: 2px solid #222; */
  padding: 20px;
  margin: 20px;
}
